<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sriyaan.qureco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="com.sriyaan.qureco.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.sriyaan.qureco.permission.C2D_MESSAGE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        
        android:theme="@style/AppThemeNoActionBar">


        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.sriyaan.gcm" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->

        <!-- [START gcm_listener] -->
        <service
            android:name="com.sriyaan.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name="com.sriyaan.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <service
            android:name="com.sriyaan.gcm.RegistrationIntentService"
            android:exported="false">
        </service>

        <activity
            android:name=".Splash"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".CompleteRegister"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Home"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".Search"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".Feedback"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".Loyalty"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name="com.sriyaan.qr.QrCode"
            android:screenOrientation="portrait" />
        <activity android:name=".SmsReciever"
            android:screenOrientation="sensorPortrait" />

        <receiver android:name="com.sriyaan.reciever.SmsBroadReciever">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.sriyaan.util.RoutingActivity"
            android:screenOrientation="sensorPortrait" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:screenOrientation="sensorPortrait"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".MapsActivity1"
            android:screenOrientation="sensorPortrait"
            android:label="@string/title_activity_maps1" />
        <activity android:name=".EditProfile"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".EditPreference"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".MyAccount"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".SettingsPage"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".AboutUsPage"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".TermsConditionPage"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".ContactUs"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".SearchListPage"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".SearchListPage1"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".LifeSavers"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".ReviewPage"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".DealsOffers"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".AlertFamily"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".ShoutOutHelp"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".Emergency"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".Notification"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".Chat"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".Favourite"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".Filters"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".LoyaltyFinalPage"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".DetailsPage"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".ReviewFinal"
            android:screenOrientation="sensorPortrait"/>
        <activity android:name=".CompareScreen"
            android:screenOrientation="sensorPortrait"/>
        <activity
            android:name=".MapsViewPage"
            android:screenOrientation="sensorPortrait"
            android:label="@string/title_activity_maps_view_page"></activity>
    </application>

</manifest>