<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sriyaan.qureco">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_qureco"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity
            android:name=".Splash"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Register"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".CompleteRegister"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".Home"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".Search" />
        <activity android:name=".Feedback" />
        <activity android:name=".Loyalty" />
        <activity
            android:name="com.sriyaan.qr.QrCode"
            android:screenOrientation="portrait" />
        <activity android:name=".SmsReciever" />

        <receiver android:name="com.sriyaan.reciever.SmsBroadReciever">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name="com.sriyaan.util.RoutingActivity"></activity>
    </application>

</manifest>